@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(/img/bg_gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  opacity: 0.8;
}

.nav-btn:hover {
  background-color: #4caf50;
  color: white;
}

/* .title-container {
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  padding-top: 20px;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  font-style: normal;
  padding-top: 40px;
  font-weight: bold;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  /* background-color: #4caf50; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.white-container {
  height: 500px;
  width: 700px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgb(139, 179, 90);
  border-color: black;
  border-style: solid;
}

.form {
  /* background-color: #4caf50; */
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border-color: black;
  border-style: solid;
  display: flex;
}

.btn-invia {
  border-color: black;
  border-style: solid;
  padding: 10px;
}

footer {
  text-align: center;
  margin-top: 56px;
  background-color: #a8af4c;
  color: white;
}

#messaggio {
  height: 100px;
}

.form {
  padding-top: 20px;
}

.btn-invia {
  margin: 10px;
}
