@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(/img/bg_gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  opacity: 0.8;
}

.sidebar {
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 600;
  font-style: inherit;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.white-container {
  height: 500px;
  width: 1800px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgb(139, 179, 90);
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery-video {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.ivory-container {
  height: 500px;
  width: 700px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: ivory;
  border-color: black;
  border-style: solid;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}

/* .hidden-pic {
  visibility: hidden;
} */

.carousel {
  /* background-color: #4caf50; */
  width: 800px;
  overflow: hidden;
}

.carousel-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide {
  display: block;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  /* float: left; */
}

.carousel-item img {
  width: 34%;
  height: auto;
}

footer {
  text-align: center;
  margin-top: 56px;
  background-color: rgb(26, 26, 26);
  color: white;
}

#timeButton {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
