@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(/img/bg_gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  opacity: 0.9;
}

.main-container {
  /* background-color: #4caf50; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.white-container {
  height: 500px;
  width: 1800px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgb(139, 179, 90);
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: center;
}

.bottle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.info-bottle {
  display: none;
}

.bottle:hover .info-bottle {
  display: block;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  font-style: normal;
  padding-top: 40px;
  font-weight: bold;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.img-fluid {
  max-width: 40vh;
  height: auto;
}

footer {
  text-align: center;
  margin-top: 56px;
  background-color: #4caf50;
  color: white;
}
