* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(/img/bg_products.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  opacity: 0.8;
}

.main-container {
  /* background-color: #4caf50; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.white-container {
  height: 500px;
  width: 1800px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgb(128, 102, 59);
  border-color: black;
  border-style: solid;
}
